* {
    font-family: Pragmata Pro Mono;
    font-size: 15px;
    min-height: 0;
    color: black;
    padding-right: 4px;
    padding-left: 4px;
}

window#waybar {
    background: #fff1e8;
    padding: 4px;
}

#window{
    border-bottom: 5px solid #83769c;
}

#clock{
    background: #ff004d;
}

#memory{
    background: #ffa300;
}

#cpu{
    color: black;
    background: #ffec27;
}

#network{
    background: #00e436;
}

#pulseaudio{
    background: #29adff;
}

#tray{
    background: #83769c;
}

#workspaces button.active{
    border-radius: 0px;
    border-bottom: 5px solid #ab5236;
}
